<!-- <p>booking-history works!</p>
<h1 class="display-3">Booking History</h1>
<div *ngIf=isPnrSearch >
  
<table class="table table-dark table-striped">
  <thead>
    <tr>
        <th scope="col">Flight No</th>
        <th scope="col"> Name</th>
        <th scope="col">Email</th>
        <th scope="col">Pnr Number</th>
        <th scope="col">Seat No</th>
        <th scope="col">Gender</th>
        <th scope="col">Action</th>
       
    </tr>
</thead>

<tbody>
  <tr *ngFor="let t of tickets; index as i">
      <td>{{t.flightNo}}</td>
      <td>{{t.passenger_name}}</td>
      <td>{{t.email}}</td>
      <td>{{t.pnrNumber}}</td>
      <td>{{t.passenger_seatNo}}</td>
      <td>{{t.gender}}</td>
    
      <!-- <td> <button (click)="downloadPdf(t1.pnrNumber)" class="btn btn-danger">Download</button>   </td> -->
  
<!-- </tbody> 
</table>
 
</div> --> -->
