<div style="text-align:center"><h1>ADD FLIGHT</h1>
 <div class="wrapper bg-White">  
   
  <div style="text-align:center">
    <span class="input-group-text" id="inputGroup-sizing-default"
      >Enter AirlineName</span
    >
    <input
      type="text"
      [(ngModel)]="flight.airLinename"
      placeholder="Enter AirlineName"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
      ng-required="true"/>
  </div>
  
  <br />
  
  <div style="text-align:center">
    <span class="input-group-text" id="inputGroup-sizing-default"
      >Enter From Place</span
    >
    <input
      [(ngModel)]="flight.fromPlace"
      placeholder="Enter From Place "
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>

  <br />
  
  <div style="text-align:center">
    <span class="input-group-text" id="inputGroup-sizing-default"
      >Enter To Place</span
    >
    <input
      [(ngModel)]="flight.toPlace"
      placeholder="Enter To Place"
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>
<br />
  
    <div style="text-align:center">

        <span class="input-group-text" id="inputGroup-sizing-default">Choose Instrument
        </span>
    
        <input type="text" [(ngModel)]="flight.instrument" placeholder="Enter Instrument Name" class="form-control"
    
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
    
      </div>
      <br/>
      <div style="text-align:center">

        <span class="input-group-text" id="inputGroup-sizing-default">businessSeat
        </span>
    
        <input type="number" [(ngModel)]="flight.businessSeat" placeholder="Enter BusinessSeat" class="form-control"
    
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
    
      </div>

      <br/>
      <div style="text-align:center">

        <span class="input-group-text" id="inputGroup-sizing-default">NonbusinessSeat
        </span>
    
        <input type="number" [(ngModel)]="flight.nonBusinessSeat" placeholder="Enter nonBusinessSeat" class="form-control"
    
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
    
      </div>
      <br/>
      <div style="text-align:center">

        <span class="input-group-text" id="inputGroup-sizing-default">Ticket
        </span>
    
        <input type="number" [(ngModel)]="flight.ticket" placeholder="Enter Ticket " class="form-control"
    
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
    
      </div>
      
  <br />
  <br/>
  <div style="text-align:center">

    <span class="input-group-text" id="inputGroup-sizing-default">Meal
    </span>

    <input type="text" [(ngModel)]="flight.meal" placeholder="Enter Meal" class="form-control"

      aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />

  </div>
  
<br />

  <div style="text-align:center">

    <span class="input-group-text" id="inputGroup-sizing-default">Way</span>

    <input type="text" [(ngModel)]="flight.ways" placeholder="Enter Way" class="form-control"

      aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />

  </div>
  <br />
<div class="form-group d-sm-flex margin">
    <div class="d-flex align-items-center flex-fill me-sm1 my-sm-0 border-bottom position-relative">
        <input type="Date"  [(ngModel)]="flight.startDate" required placeholder="Depart Date" class="form-control">
        <div class="label" id="startDate"></div>
    </div>
    <div class="d-flex align-items-center flex-fill ms-sm-1 my-sm-0 my-4 border-bottom position-relative">
        <input type="Date"   [(ngModel)]="flight.endDate"  required placeholder="Return Date" class="form-control">
        <div class="label" id="endDate"></div>
    </div>
    <br />
 
  
  <div >
  <button  class="btn btn-primary btn-lg" (click)="save()" > 
    Add Flight
  </button>
  </div>